<div id="site">
  <!-- header -->
  <header id="header" class="header hide-top-header show-top-cta ">
    <div class="navigation">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="d-block d-lg-flex justify-content-center">
              <div class="logo">
                <a href="/"><img class="img-fluid" src="./../assets/rcshsh-logo.webp" alt="Rcshsh Logo" width="240"
                    height="43"></a>
              </div>

            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <div class="topheader_left  justify-content-center">
              <ul class="contact-list">
                <li>
                  <a href="mailto:rcshahco.query@gmail.com"><i
                      class="email-icon-header"></i><span><span class="__cf_email__"
                        assets>rcshahco.query&#64;gmail.com</span></span></a>
                </li>
                <li>
                  <a href="tel:&#x2B;91 9825117512"><i class="phone-icon-header"></i><span>&#x2B;91
                      9825117512</span></a>
                </li>
                <li>
                  <a href="/member-login"><i class="member-login-icon"></i><span>Member Login</span></a>
                </li>
              </ul>

            </div>
          </div>
        </div>
      </div>
      <div class="top-border">
        <div class="container">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
              <div id="wrapper">
                <i class="menu-background top"></i>
                <i class="menu-background middle"></i>
                <i class="menu-background bottom"></i>
                <nav id="cssmenu" class="main-navigation">

                  <ul>
                    <li class="active">
                      <a href="/">
                        Home
                      </a>

                    </li>
                    <li>
                      <a href="/about-us/">
                        About Us
                      </a>

                    </li>
                    <li>
                      <a href="/service/">
                        Service
                      </a>

                    </li>
                    <li>
                      <a href="/contact-us/">
                        Contact Us
                      </a>

                    </li>
                  </ul>
                </nav>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Content block -->
  <div id="content" class="hide-top-header">
    <section class="hero-slider-wrap hero-slider hide-top-header">
      <div class="marquee-block bg-c5">
        <div class="marquee">
          <div>

            <p>Kindly link your pan card and Aadhar card <a rel="noopener"
                href="https://eportal.incometax.gov.in/iec/foservices/#/pre-login/bl-link-aadhaar" target="_blank"
                data-anchor="#/pre-login/bl-link-aadhaar">Click Here &nbsp;&nbsp;&nbsp;</a>&nbsp;&nbsp; Mutual Fund
              Investments are subject to market
              risks, please read all scheme related documents carefully before investing.</p>

          </div>
        </div>
      </div>
      <div class="hero-slider_block">
        <div class="hero-slider_block-inner">
          <div class="digiwhizslider">

            <div class="hero-img bg-c1 text-left position-relative">

              <div data-sizes="auto" class="bg-right-img-cover lazyloaded">
                <img class="d-block position-absolute w-50 h-100" src="../assets/img-1.png" alt=""
                  style="right: 0; top: 0;">
              </div>
              <div class="bg-left-img-cover position-absolute"
                style="background: url(../assets/hero-banner-left-img.png); left: 0; top: 0; width: 50%; height: 100%;">
              </div>
              <div class="hero-caption">
                <div class="hero-caption-inner">
                  <div class="container">
                    <div class="row">
                      <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6" style="width: 50%;">
                        <div class="slide-content" style="margin-bottom: 50px;">
                          <div class="hero-caption-title text-left">
                            <p>Best Tax & Investment Service Agency in India</p>
                          </div>
                          <div class="hero-caption-desc text-left">
                            <p>Giving you the right opportunities to gain financial freedom without tax complications.
                              We can help you make prudent investment decisions and ensure you don’t lose out on tax
                              returns. </p>
                          </div>
                          <div class="hero-caption-btn">
                            <a class="btn button-primary" href="/contact-us/">Contact Us</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>

            <div class="hero-img bg-c2 text-left">

              <div data-sizes="auto" class="bg-right-img-cover lazyloaded">
                <img class="d-block position-absolute w-50 h-100" src="../assets/img-2.png" alt=""
                  style="right: 0; top: 0;">
              </div>
              <div class="bg-left-img-cover position-absolute"
                style="background: url(../assets/hero-banner-left-img.png); left: 0; top: 0; width: 50%; height: 100%;">
              </div>
              <div class="hero-caption">
                <div class="hero-caption-inner">
                  <div class="container">
                    <div class="row">
                      <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6" style="width: 50%;">
                        <div class="slide-content">
                          <div class="hero-caption-title text-left">
                            <p>Leading GST Service Providers In India</p>
                          </div>
                          <div class="hero-caption-desc text-left">
                            <p>Making the process of GST filing easy and fast for you.
                              We can help you fathom the scope and requirements of GST and tax implications while
                              recommending the best routes to reduce your tax liability. </p>
                          </div>
                          <div class="hero-caption-btn">
                            <a class="btn button-primary" href="/contact-us/">Enquire Now</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>

            <div class="hero-img bg-c2 text-left">

              <div data-sizes="auto" class="bg-right-img-cover lazyloaded">
                <img class="d-block position-absolute w-50 h-100" src="../assets/img-3.png" alt=""
                  style="right: 0; top: 0;">
              </div>
              <div class="bg-left-img-cover position-absolute"
                style="background: url(../assets/hero-banner-left-img.png); left: 0; top: 0; width: 50%; height: 100%;">
              </div>

              <div class="hero-caption">
                <div class="hero-caption-inner">
                  <div class="container">
                    <div class="row">
                      <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6" style="width: 50%;">
                        <div class="slide-content">
                          <div class="hero-caption-title text-left">
                            <p>Friendly & Accredited Mutual Fund Distributors in India</p>
                          </div>
                          <div class="hero-caption-desc text-left">
                            <p>Helping you choose the right mutual fund to leverage long-term financial benefits. With
                              us, you can be certain about your financial growth. We have partnered with India’s some of
                              the best mutual funds brands. </p>
                          </div>
                          <div class="hero-caption-btn">
                            <a class="btn button-primary" href="/contact-us/">Enquire Now</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="hero-img bg-c2 text-left">

              <div data-sizes="auto" class="bg-right-img-cover lazyloaded">
                <img class="d-block position-absolute w-50 h-100" src="../assets/img-4.png" alt=""
                  style="right: 0; top: 0;">
              </div>
              <div class="bg-left-img-cover position-absolute"
                style="background: url(../assets/hero-banner-left-img.png); left: 0; top: 0; width: 50%; height: 100%;">
              </div>

              <div class="hero-caption">
                <div class="hero-caption-inner">
                  <div class="container">
                    <div class="row">
                      <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6" style="width: 50%;">
                        <div class="slide-content">
                          <div class="hero-caption-title text-left">
                            <p>Reliable Life & Health Insurance Company</p>
                          </div>
                          <div class="hero-caption-desc text-left">
                            <p>Ensuring you and your family’s welfare and financial safety are in the right hands. We
                              make you future-ready by helping you choose the ideal insurance so that you can live a
                              stress-free life. </p>
                          </div>
                          <div class="hero-caption-btn">
                            <a class="btn button-primary" href="/contact-us/">Enquire Now</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="slick-btn-wrap">
            <button class="prev-btn slick-prev slick-arrows">Prev</button>
            <button class="next-btn slick-next slick-arrows">Next</button>
          </div>


        </div>
      </div>
    </section>

    <!-- /.slider -->
    <section class="counter-block  without-bg bg-c1  text-left " data-os-animation="fadeInUp"
      data-os-animation-delay="0.1s">
      <div class="counter-inner">
        <div class="container">

          <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-5 col-xxl-4" style="    -webkit-box-flex: 0;
            -ms-flex: 0 0 auto;
            flex: 0 0 auto;
            width: 33.33333333%;">
              <div class="img-wrapper aniview" data-av-animation="animate__slideInUp">
                <img class="img-fluid lazyload" data-src="assets/group-133.png" alt="Group 133" width="420"
                  height="500" />
              </div>

            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-7 col-xxl-8" style="-webkit-box-flex: 0;
            -ms-flex: 0 0 auto;
            flex: 0 0 auto;
            width: 66.66666667%;">
              <div class="counter-inner-text">
                <div class="counter-description-wrap aniview" data-av-animation="animate__slideInUp">
                  <div class="description-wrap">
                    <p>Knowing how to make the most out of your money for a prosperous present and a satisfying and
                      stress-free future is what you should aim for. With an expert team at R. C. Shah & CO., you can
                      achieve financial freedom with astute wealth planning.</p>
                  </div>


                </div>
                <div class="content-wrap">
                  <div class="row justify-content-left counter-item-wrap">
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-3 counter-items" style="    -webkit-box-flex: 0;
                    -ms-flex: 0 0 auto;
                    flex: 0 0 auto;
                    width: 25%;">

                      <div class="counter-item aniview text-left" data-av-animation="animate__slideInUp">
                        <div class="counter-icon">
                          <img class="img-fluid lazyload" data-src="assets/frame-17.png" width="62" height="45"
                            alt="Happy Clients">
                        </div>
                        <div class="counter-text">
                          <h4> <span class="counter">2000</span>&#x2B;</h4>
                          <p>Happy Clients</p>
                        </div>

                      </div>
                    </div>

                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-3 counter-items" style="-webkit-box-flex: 0;
                    -ms-flex: 0 0 auto;
                    flex: 0 0 auto;
                    width: 25%;">

                      <div class="counter-item aniview text-left" data-av-animation="animate__slideInUp">
                        <div class="counter-icon">
                          <img class="img-fluid lazyload" data-src="assets/frame-18.png" width="62" height="45"
                            alt="Live Sips">
                        </div>
                        <div class="counter-text">
                          <h4> <span class="counter">1700</span>&#x2B;</h4>
                          <p>Live Sip&#x2019;s</p>
                        </div>

                      </div>
                    </div>

                    <div class="button-group">
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </section>

    <section class="calltoaction aniview  without-bg without-icon bg-c6  text-center " data-os-animation="fadeInUp"
      data-os-animation-delay="0.1s" data-av-animation="animate__slideInUp">
      <div class="inner-wrap bg-c6 ">
        <div class="container">
          <div class="row text-left text-lg-start align-items-center">
            <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8" style="-webkit-box-flex: 0;
            -ms-flex: 0 0 auto;
            flex: 0 0 auto;
            width: 66.66666667%;">
              <div class="calltoaction_title">
                <h3>Let The Experts Design A Personalised Tax & Investment Plan For You</h3>
              </div>
              <div class="calltoaction_desc">
                <h6>For any tax and investment-related query, connect now. Our experts are ready to serve you 24/7.
                </h6>
              </div>
            </div>
            <div class="col-12 col-sm-12  col-md-12 col-lg-4 col-xl-4" style="-webkit-box-flex: 0;
            -ms-flex: 0 0 auto;
            flex: 0 0 auto;
            width: 33.33333333%;">
              <div class="button-group text-left text-lg-end" style="text-align: right !important;">
                <a href="/contact-us/" class="btn button-primary">Contact Us</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="text-with-video  text-center without-bg bg-c2  " id="pos_80422c48-78c5-4569-983e-4a15df3fe1a6"
      data-os-animation="fadeInUp" data-os-animation-delay="0.1s" data-sizes="auto">
      <div class="inner-wrap">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 justify-content-center d-flex flex-column">
              <div class="intro-wrap aniview" data-av-animation="animate__slideInUp">
                <div class="title-wrap" style="position: relative;">
                  <h2>About R. C. Shah & CO. - Top Tax & Investment Services Firm In India</h2>
                  <span class="border-btm"></span>
                </div>
                <div class="description-wrap">
                  <p>
                  <p>We are one of the leading tax and investment services companies in India. For more than two
                    decades, we have been helping people turn their hard-earned money into sustainable wealth. Founded
                    by Mr Rohit Chandulal Shah in 1984, we have helped thousands of our clients with wealth-making and
                    financial advising.
                  <p>At R. C. Shah & CO., we will help you to create a goal-oriented investment strategy for a
                    stress-free future. Our investment and financial experts can help you address your financial goals
                    and wealth creation needs. From having a tax strategy to choosing the right insurance and investment
                    and making you retirement-ready is what we can help you with.</p>
                </div>


              </div>
              <div class="rich-text-content aniview" data-av-animation="animate__slideInUp">

              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 content-wrap" style="margin-top: 50px;">
              <div class="image-wrapper aniview" data-av-animation="animate__slideInUp">
                <iframe class="img-fluid" height="550" src='https://www.youtube.com/embed/p6p8RKRTna8'></iframe>
              </div>
              <div class="button-group">
                <a href="/about-us/" class="btn button-primary">Know More</a>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="inner-wrap">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-12">
            <div class="title-wrap">
              <h3>One-Stop Solution For All Your Wealth Creation & Management Needs</h3>
              <span class="border-btm"></span>
            </div>
            <div class="description-wrap">
              <p>When you choose us as your financial consultancy and service providers, we help you get solutions
                that resolve your money matters. From increasing your money through the right investment channels to
                keeping the tax-related penalties and choosing the right insurance partner, we got you covered. With
                us, you no more have to worry about your future!</p>
            </div>


          </div>
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="content-wrap">
        <div class="sublisting item-style-above three-column text-center">
          <div class="container">
            <div class="sublisting-inner">
              <div class="row justify-content-center sub-listing-abovetext-carousel-4">
                
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 sublisting-above sublisting-items"
                  data-serialflex="subLisstingSameHeight">
                  <div class="sublisting-belowimg aniview" data-av-animation="animate__slideInUp"
                    data-serialflex="subListingSmaeHeight">
                    <div class="sublisting-inner-wrapper">
                      <a href="/service/gst/" class="sublisting-img">
                        <img class="img-fluid " src="../assets/gst.png"
                          alt="">
                      </a>
                      <div class="title-wrap">
                        <h4>GST</h4>
                      </div>
                      <div class="sublisting-summury">
                        <p>Leave all your GST-related complexities to our experts and live a peaceful life. We can
                          guide you on every issue related to the scope and requirements of GST, including GST
                          registration, GST return filing, GST compliance, etc. </p>
                      </div>
                      <div class="button-group">
                        <a href="/service/gst/" class="btn button-primary">Read more</a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 sublisting-above sublisting-items"
                  data-serialflex="subLisstingSameHeight">
                  <div class="sublisting-belowimg aniview" data-av-animation="animate__slideInUp"
                    data-serialflex="subListingSmaeHeight">
                    <div class="sublisting-inner-wrapper">
                      <a href="/service/life-health-insurance/" class="sublisting-img ">
                        <img class="img-fluid "
                          src="../assets/life-and-health-insurance.png"alt="">
                      </a>


                      <div class="title-wrap">
                        <h4>Life &amp; Health Insurance</h4>
                      </div>

                      <div class="sublisting-summury">
                        <p>We understand your financial worries. Hence, we help you choose the best life and health
                          insurance that best fits your needs and financial goals. We also give you full assistance on
                          insurance-related issues. </p>
                      </div>
                      <div class="button-group">
                        <a href="/service/life-health-insurance/" class="btn button-primary">Read more</a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 sublisting-above sublisting-items"
                  data-serialflex="subLisstingSameHeight">
                  <div class="sublisting-belowimg aniview" data-av-animation="animate__slideInUp"
                    data-serialflex="subListingSmaeHeight">
                    <div class="sublisting-inner-wrapper">
                      <a href="/service/mutual-funds/" class="sublisting-img ">
                        <img class="img-fluid "
                          src="../assets/mutual-funds.png" alt="">
                      </a>


                      <div class="title-wrap">
                        <h4>Mutual Funds</h4>
                      </div>

                      <div class="sublisting-summury">
                        <p>We help you better shape your investment goals by helping you invest your money in the best
                          direction. Let our experts choose and manage the right mutual funds and help you with risk
                          mitigation.</p>
                      </div>
                      <div class="button-group">
                        <a href="/service/mutual-funds/" class="btn button-primary">Read more</a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 sublisting-above sublisting-items"
                  data-serialflex="subLisstingSameHeight">
                  <div class="sublisting-belowimg aniview" data-av-animation="animate__slideInUp"
                    data-serialflex="subListingSmaeHeight">
                    <div class="sublisting-inner-wrapper">
                      <a href="/service/income-tax/" class="sublisting-img ">
                        <img class="img-fluid "
                          src="../assets/income-tax.png"alt="">
                      </a>


                      <div class="title-wrap">
                        <h4>Income Tax</h4>
                      </div>

                      <div class="sublisting-summury">
                        <p>Tax filing and saving taxes are major concerns. We can help you in wealth creation along
                          with saving tax. Trust us for recommending the best ways to reduce your tax liability and
                          make your money work for you.</p>
                      </div>
                      <div class="button-group">
                        <a href="/service/income-tax/" class="btn button-primary">Read more</a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 sublisting-above sublisting-items"
                  data-serialflex="subLisstingSameHeight">
                  <div class="sublisting-belowimg aniview" data-av-animation="animate__slideInUp"
                    data-serialflex="subListingSmaeHeight">
                    <div class="sublisting-inner-wrapper">
                      <a href="/service/fixed-deposit/" class="sublisting-img ">
                        <img class="img-fluid "
                          src="../assets/fixeddeposite.png" alt="">
                      </a>


                      <div class="title-wrap">
                        <h4>Fixed Deposit</h4>
                      </div>

                      <div class="sublisting-summury">
                        <p>FDs are evergreen and proven means to increase your savings. But choosing the right FD
                          scheme is what makes the difference.</p>
                      </div>
                      <div class="button-group">
                        <a href="/service/fixed-deposit/" class="btn button-primary">Read more</a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 sublisting-above sublisting-items"
                  data-serialflex="subLisstingSameHeight">
                  <div class="sublisting-belowimg aniview" data-av-animation="animate__slideInUp"
                    data-serialflex="subListingSmaeHeight">
                    <div class="sublisting-inner-wrapper">
                      <a href="/service/capital-gain/" class="sublisting-img ">
                        <img class="img-fluid "
                          src="../assets/capital-gain.png" alt="">
                      </a>


                      <div class="title-wrap">
                        <h4>Capital Gain</h4>
                      </div>

                      <div class="sublisting-summury">
                        <p>If you want to save tax on your property or want to save long-term capital gain tax, our
                          financial experts can help you invest in the right schemes.</p>
                      </div>
                      <div class="button-group">
                        <a href="/service/capital-gain/" class="btn button-primary">Read more</a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 sublisting-above sublisting-items"
                  data-serialflex="subLisstingSameHeight">
                  <div class="sublisting-belowimg aniview" data-av-animation="animate__slideInUp"
                    data-serialflex="subListingSmaeHeight">
                    <div class="sublisting-inner-wrapper">
                      <a href="/service/nps/" class="sublisting-img ">
                        <img class="img-fluid " src="../assets/nps.png" alt="">
                      </a>


                      <div class="title-wrap">
                        <h4>NPS</h4>
                      </div>

                      <div class="sublisting-summury">
                        <p>Irrespective of your income level, you can leverage National Pension System (NPS) and plan
                          a secure retirement. And we as your advisors will guide you throughout the process.</p>
                      </div>
                      <div class="button-group">
                        <a href="/service/nps/" class="btn button-primary">Read more</a>
                      </div>
                    </div>
                  </div>
                </div>
                
              </div>
            </div> 
            <div class="button-group">
            </div> 

          </div>
        </div> 
      </div>


      <section class="calltoaction aniview  without-bg without-icon bg-c6  text-center " data-os-animation="fadeInUp"
        data-os-animation-delay="0.1s" data-av-animation="animate__slideInUp">
        <div class="inner-wrap bg-c6 ">
          <div class="container">
            <div class="row text-left text-lg-start align-items-center">
              <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8" style="-webkit-box-flex: 0;
              -ms-flex: 0 0 auto;
              flex: 0 0 auto;
              width: 66.66666667%;">
                <div class="calltoaction_title">
                  <h3>Let The Experts Design A Personalised Tax & Investment Plan For You</h3>
                </div>
                <div class="calltoaction_desc">
                  <h6>For any tax and investment-related query, connect now. Our experts are ready to serve you 24/7.
                  </h6>
                </div>
              </div>
              <div class="col-12 col-sm-12  col-md-12 col-lg-4 col-xl-4" style="-webkit-box-flex: 0;
              -ms-flex: 0 0 auto;
              flex: 0 0 auto;
              width: 33.33333333%;">
                <div class="button-group text-left text-lg-end">
                  <a href="/contact-us/" class="btn button-primary">Contact Us</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="testimonials-single  without-bg    text-left" data-os-animation="fadeInUp"
        data-os-animation-delay="0.1s">
        <!-- .bg-c2 dynamic class for background colour -->
        <div class="testimonials-single-wrap">
          <div class="container-left bg-c2"></div>
          <div class="container inner-wrap rounded-border-right bg-c2">
            <div class="row justify-content-center aniview" data-av-animation="animate__slideInLeft">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-3" style="        -webkit-box-flex: 0;
              -ms-flex: 0 0 auto;
              flex: 0 0 auto;
              width: 25%;">
                <div class="title-wrap">
                  <h2>Let’s Hear What Our Happy Clients Have To Say</h2>
                  <span class="border-btm"></span>
                </div>
                <div class="description-wrap">
                  <p>At R C Shah & Co., client satisfaction is our utmost priority. We give our 100% effort and
                    dedication
                    to each client and take their issues earnestly. We sit with them to listen to their problems and
                    give
                    them all the support and guidance they need to manage their wealth and enjoy a secure & financially
                    stable life. </p>
                </div>


              </div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-9" style="        -webkit-box-flex: 0;
              -ms-flex: 0 0 auto;
              flex: 0 0 auto;
              width: 70%;">
                <div class="quotesslider quotesingle content-wrap">

                  <div class="quotes_inner">
                    <span class="quote-left"></span>
                    <p>R.C. Shah and his team are all highly experienced and can help you manage your finances
                      brilliantly. I have been associated with this firm for the last 8 years, and most of my financial
                      planning is handled by them. Never ever have I faced any delays and issues in their work. I highly
                      recommend the team to whosoever is looking for a reliable wealth manager. I wish the R.C. Shah
                      team
                      good luck!</p>
                    <div class="quotesingle-name">
                      <div class="stars" data-numberOfStar=4.5></div>
                      <h6>Dr. Hemant Panchal</h6>
                    </div>
                  </div>
                  <div class="quotes_inner">
                    <span class="quote-left"></span>
                    <p>When I first started my business, I needed an informed and experienced financial manager to guide
                      me through the process. Luckily, one of my clients referred me to R.C. Shah and his team. In the
                      first meeting itself, most of my worries and doubts were resolved. And till the day, they have
                      been
                      helping me with investment planning, GST and Income tax filing.</p>
                    <div class="quotesingle-name">
                      <div class="stars" data-numberOfStar=4.0></div>
                      <h6>Mahesh C. Dandiwala</h6>
                    </div>
                  </div>
                  <div class="quotes_inner">
                    <span class="quote-left"></span>
                    <p>I am very pleased with how team R.C. Shah worked with me during my financial planning. Their
                      personalised advice and ready-to-help approach are extremely helpful for every individual or
                      company
                      puzzling with major financial decisions. Highly recommended.</p>
                    <div class="quotesingle-name">
                      <div class="stars" data-numberOfStar=5.0></div>
                      <h6>Amit Ratanpara</h6>
                    </div>
                  </div>
                </div>

                <div class="button-group">
                </div>

              </div>

            </div>
          </div>

          <div class="slick-btn-wrap">
            <button class="testimonial-prev-btn slick-prev slick-arrows">Prev</button>
            <button class="testimonial-next-btn slick-next slick-arrows">Next</button>
          </div>
        </div>
      </section>

      <section class="hero-slider-full-width-img-wrap hero-slider">
        <div class="hero-slider_block">
          <div class="hero-slider_block-inner">



            <div class="fullWidthImgSlider">

              <div class="hero-img full-img bg-c6 text-left" style="width: 100%; display: inline-block;">
                <div data-sizes="auto"><img src="../assets/group-126-2.png"
                    style="position: absolute;width: 100%;
                height: 100%;background-size: 100% 100%;background-repeat: no-repeat; background-position: center center;" alt=""></div>
                <span class="full-width-img-gradient aniview" data-av-animation="animate__slideInRight"></span>
                <div class="hero-caption">
                  <div class="hero-caption-inner">
                    <div class="container">
                      <div class="row aniview" data-av-animation="animate__slideInLeft">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6" style="-webkit-box-flex: 0;
                        -ms-flex: 0 0 auto;
                        flex: 0 0 auto;
                        width: 50%">
                          <div class="slide-content">
                            <div class="hero-caption-title title-wrap">
                              <p>Bringing Financial Freedom To Our Lives</p>
                              <span class="border-btm"></span>
                            </div>
                            <div class="hero-caption-desc text-left">
                              <p> A father of two daughters knows the importance of wealth planning the most. Finding a
                                financial planner like R.C. Shah can be extremely significant. They have helped me to
                                well
                                plan my wealth so that I can give the best life to my daughters. </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="hero-img full-img bg-c6 text-left">
                <div data-sizes="auto"><img src="../assets/group-127-1.png"
                    style="position: absolute;width: 100%;
                  height: 100%;background-size: 100% 100%;background-repeat: no-repeat; background-position: center center;" alt=""></div>
                <span class="full-width-img-gradient aniview" data-av-animation="animate__slideInRight"></span>
                <div class="hero-caption">
                  <div class="hero-caption-inner">
                    <div class="container">
                      <div class="row aniview" data-av-animation="animate__slideInLeft">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6" style="-webkit-box-flex: 0;
                        -ms-flex: 0 0 auto;
                        flex: 0 0 auto;
                        width: 50%">
                          <div class="slide-content">
                            <div class="hero-caption-title title-wrap">
                              <p>Bringing Financial Freedom To Our Lives</p>
                              <span class="border-btm"></span>
                            </div>
                            <div class="hero-caption-desc text-left">
                              <p>The success of any new business highly depends on your wealth. You can start your dream
                                business, sustain it and thrive. R.C. Shah has always been a true support in helping me
                                start my business and make calculated decisions to run it successfully.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="slick-btn-wrap">
              <button class="full-width-banner-prev-btn slick-prev slick-arrows">Prev</button>
              <button class="full-width-banner-next-btn slick-next slick-arrows">Next</button>
            </div>


          </div>
        </div>
      </section>
      <!-- /.slider -->

      <section class="code-block without-bg bg-c1  text-center ">
        <div class="inner-wrap">
          <div class="code-block-inner">
            <div class="container">
              <div class="aniview" data-av-animation="animate__slideInUp">
                <div class="title-wrap">
                  <h3>BSE DATA</h3>
                  <span class="border-btm"></span>
                </div>
                <div class="description-wrap">
                  <p>We strictly follow the Bombay Stock Exchange (BSE) to gain real-time insights, which helps us
                    provide
                    accurate and appropriate fund advice.</p>
                </div>


              </div>
            </div>
            <div class="av-container av-visible">
              <div class="container content-wrap aniview animate__animated animate__slideInUp"
                data-av-animation="animate__slideInUp" style="opacity: 1;">
                <div class="row">
                  <div class="wide-col col-12">
                    <!-- TradingView Widget BEGIN -->
                    <div class="tradingview-widget-container" style="width: 99%; height: 700px;"> <iframe scrolling="no"
                        allowtransparency="true" frameborder="0"
                        src="https://www.tradingview-widget.com/embed-widget/hotlists/?locale=in#%7B%22exchange%22%3A%22BSE%22%2C%22showChart%22%3Atrue%2C%22width%22%3A%2299%25%22%2C%22height%22%3A700%2C%22largeChartUrl%22%3A%22%22%2C%22plotLineColorGrowing%22%3A%22rgba(33%2C%20150%2C%20243%2C%201)%22%2C%22plotLineColorFalling%22%3A%22rgba(33%2C%20150%2C%20243%2C%201)%22%2C%22gridLineColor%22%3A%22rgba(242%2C%20243%2C%20245%2C%201)%22%2C%22scaleFontColor%22%3A%22rgba(131%2C%20136%2C%20141%2C%201)%22%2C%22belowLineFillColorGrowing%22%3A%22rgba(5%2C%20122%2C%20205%2C%200.12)%22%2C%22belowLineFillColorFalling%22%3A%22rgba(5%2C%20122%2C%20205%2C%200.12)%22%2C%22symbolActiveColor%22%3A%22rgba(225%2C%20239%2C%20249%2C%201)%22%2C%22utm_source%22%3A%22www.rcshahco.com%22%2C%22utm_medium%22%3A%22widget_new%22%2C%22utm_campaign%22%3A%22hotlists%22%2C%22page-uri%22%3A%22www.rcshahco.com%2F%22%7D"
                        title="hotlists TradingView widget" lang="en"
                        style="user-select: none; box-sizing: border-box; display: block; height: calc(100% - 32px); width: 100%;"></iframe>
                      <div class="tradingview-widget-copyright"><a
                          href="https://in.tradingview.com/markets/stocks-india/market-movers-gainers/?utm_source=www.rcshahco.com&amp;utm_medium=widget_new&amp;utm_campaign=hotlists"
                          rel="noopener" target="_blank"><span class="blue-text">Stock Market</span></a> by TradingView
                      </div>
                      <style>
                        .tradingview-widget-copyright {
                          font-size: 13px !important;
                          line-height: 32px !important;
                          text-align: center !important;
                          vertical-align: middle !important;
                          /* @mixin sf-pro-display-font; */
                          font-family: -apple-system, BlinkMacSystemFont, 'Trebuchet MS', Roboto, Ubuntu, sans-serif !important;
                          color: #B2B5BE !important;
                        }

                        .tradingview-widget-copyright .blue-text {
                          color: #2962FF !important;
                        }

                        .tradingview-widget-copyright a {
                          text-decoration: none !important;
                          color: #B2B5BE !important;
                        }

                        .tradingview-widget-copyright a:visited {
                          color: #B2B5BE !important;
                        }

                        .tradingview-widget-copyright a:hover .blue-text {
                          color: #1E53E5 !important;
                        }

                        .tradingview-widget-copyright a:active .blue-text {
                          color: #1848CC !important;
                        }

                        .tradingview-widget-copyright a:visited .blue-text {
                          color: #2962FF !important;
                        }
                      </style>
                    </div> <!-- TradingView Widget END -->
                  </div>
                </div>
              </div>
            </div>
            <div class="button-group">
            </div>


          </div>
        </div>
      </section>

      <section class="calltoaction aniview  without-bg without-icon bg-c6  text-center lastelement"
        data-os-animation="fadeInUp" data-os-animation-delay="0.1s" data-av-animation="animate__slideInUp">
        <div class="inner-wrap bg-c6 ">
          <div class="container">
            <div class="row text-left text-lg-start align-items-center">
              <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8" style="
                -webkit-box-flex: 0;-ms-flex: 0 0 auto;flex: 0 0 auto;width: 66.66666667%;">
                <div class="calltoaction_title">
                  <h2>Start your journey of financial freedom with us!</h2>
                </div>
                <div class="calltoaction_desc">
                  <h6>Contact us now and tell us the issues you are experiencing in achieving financial freedom.</h6>
                </div>
              </div>
              <div class="col-12 col-sm-12  col-md-12 col-lg-4 col-xl-4" style="
              -webkit-box-flex: 0;-ms-flex: 0 0 auto;flex: 0 0 auto;width: 33.33333333%;">
                <div class="button-group text-left text-lg-end">
                  <a href="/contact-us/" class="btn button-primary">Contact Us</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>


    </div>

    <!-- footer -->
    <footer class="four-column-view bg-c4">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3 col-xxl-3" style="
          -webkit-box-flex: 0;-ms-flex: 0 0 auto;flex: 0 0 auto;width: 25%;">
            <div class="footer-col footer_about aniview" data-av-animation="animate__slideInUp">
              <div class="logo">
                <a href="/"><img class="img-fluid lazyload" data-src="assets/footer-log.png" alt="Footer Log"
                    title="Logo" width="300" height="90"></a>
              </div>
              <div class="footer_about-text">
                <p>304, Tower X-7, Earth Complex, Next to Onyx Complex, Akshar Chowk, Old Padra Road, Vadodara - 390
                  020.
                </p>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3 col-xxl-3"
            style="-webkit-box-flex: 0;-ms-flex: 0 0 auto;flex: 0 0 auto;width: 25%;">
            <div class="footer-col footer_quicklinks aniview" data-av-animation="animate__slideInUp">
              <div class="footer_quicklinks-title">
                <h6>Quick Links</h6>
              </div>
              <ul class="footer-list">
                <li><a href="/">Home</a></li>
                <li><a href="/about-us/">About Us</a></li>
                <li><a href="/service/">Service</a></li>
                <li><a href="/contact-us/">Contact Us</a></li>
              </ul>
            </div>

          </div>

          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3 col-xxl-3"
            style="-webkit-box-flex: 0;-ms-flex: 0 0 auto;flex: 0 0 auto;width: 25%;">
            <div class="footer-col footer_contact aniview" data-av-animation="animate__slideInUp">
              <div class="footer_contact-title">
                <h6>Contact Us</h6>
              </div>
              <address>
                <span class="phone-text">
                  <span>
                    <a href="tel:&#x2B;91 9825117512">
                      &#x2B;91 9825117512
                    </a>
                  </span>
                </span>
                <span class="phone-text">
                  <span>
                    <a href="tel:&#x2B;91 9825117512">
                      &#x2B;91 74050 33812
                    </a>
                  </span>
                </span>
                <span class="email-text">
                  <span>
                    <a href="mailto:rcshahco.query@gmail.com">
                      <span class="__cf_email__"
                        data-cfemail="621001110a030a010d4c131707101b22050f030b0e4c010d0f">rcshahco.query&#64;gmail.com</span>
                    </a>
                  </span>
                </span>

              </address>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3 col-xxl-3"
            style="-webkit-box-flex: 0;-ms-flex: 0 0 auto;flex: 0 0 auto;width: 25%;">

            <div class="footer-col footer_social aniview" data-av-animation="animate__slideInUp">
              <div class="footer_social-title">
                <h6>Social Pages</h6>
              </div>
              <div class="footer_social-social">
                <ul class="social-network social-list">
                  <li style="display: inline-block; margin-right: 20px;">
                    <a href="https://www.facebook.com/RCSHAHCO/" target="_blank" External class="icofacebook">
                      <i class="facebook-icon"></i>
                    </a>
                  </li>

                  <li style="display: inline-block;">
                    <a href="https://www.youtube.com/channel/UC6UPn0FV0AAXLC8992-yzZw" target="_blank" External
                      class="icoyoutube">
                      <i class="youtube-icon"></i>
                    </a>
                  </li>

                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <div class="copyright bg-c4">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="desig-credit">
              <div class="copyright-year">
                © Copyright 2024 RCShah
              </div>
              <span class="seprator first">|</span>
              <div class="footer-nav">
                <ul>
                  <li>
                    <a href="/contact-us/">Contact Us</a>
                  </li>
                </ul>
              </div>

              <span class="seprator last">|</span>
              <div class="developer">Design & Developed by&nbsp;&nbsp;<span><a class="footer-link"
                    href="https://www.digiwhiz.com.au/" target="_blank"><img class="lazyload"
                      data-src="/assets/digiwhiz.png" alt="Digiwhiz" title="Digiwhiz" width="26"
                      height="26">&nbsp;Digiwhiz</a></span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Scroll to top-->
    <a href="javascript:void(0)" class="scrollup">
      <div class="back-to-top">
        <div class="progress-wrap">
          <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
          </svg>

        </div>
      </div>
    </a>

  </div>

  <!--//Nomination Pop up -->
  <div class="nomination-popup" style="display: none;">
    <div class="nomination-wrap">
      <button type="button" class="btn-close close"></button>
      <h6>Mutual Fund Nomination</h6>
      <p>If you have not yet completed the nomination process in Mutual Fund, do this as soon as possible. Markets
        regulator Sebi extended the deadline to June 30,2024 for this. If you do not do this, your mutual fund account
        may
        be frozen.</p>
    </div>
  </div>
  <!--// Pop up -->
  <div id="simpleModal" class="modal popup" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body text-center">
          <button type="button" class="btn-close close" data-bs-dismiss="modal" aria-label="Close"></button>
          <p class="popup-text">Kindly check your PAN card status</p>
          <p class="link">
            <a role="button" class="btn button-primary"
              href="https://eportal.incometax.gov.in/iec/foservices/#/pre-login/link-aadhaar-status"
              target=”_blank”>Click
              Here</a>
          </p>
        </div>
      </div>
    </div>
  </div>